<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
</head>
<body>
	<h2>
		{% if passerror %}
		  {{ passerror }}
		{% endif %}
		{% if usererror %}
		  {{ usererror }}
		{% endif %}
	</h2>
	<form method = "post">
		<label>Username:</label>
		<input type="text" name="username"><br>
		<label>First Name:</label>
		<input type="text" name="first_name"><br>
		<label>Last Name:</label>
		<input type="text" name="last_name"><br>
		<label>Email:</label>
		<input type="text" name="email"><br>
		<label>Phone Number:</label>
		<input type="number" name="phonenumber"><br>
		<label>Password:</label>
		<input type="password" name="password1"><br>
		<label>Re-Enter Password:</label>
		<input type="password" name="password2"><br>
		<button type = "submit" >Register</button>
		<a href="{% url '' %}">Already Have an Account? LogIn</a>
		{% csrf_token %}
		
	</form>

</body>
</html>